# Environment variables for DoKA Seca project
# This file is sourced by direnv to set up the environment for the project.
# Direnv allows you to automatically set environment variables when you enter a directory.
# Ensure you have direnv installed and configured in your shell.
# This is a sample .envrc file.
# Do NOT commit this file to version control in production environments !!!

# Load secrets from .secrets file if it exists
dotenv .secrets

export PROJECT_ROOT
PROJECT_ROOT=$(git rev-parse --show-toplevel 2>/dev/null)
# Core variables
export BASE_DOMAIN=cluster.local
# Kubernetes
# Ensure you have the correct kubeconfig files in the specified directory
export KUBECONFIG_DIR="$PROJECT_ROOT/kubeconfigs/hub-spoke"
export KUBECONFIG="$KUBECONFIG_DIR/hub:$KUBECONFIG_DIR/spoke-dev:$KUBECONFIG_DIR/spoke-uat:$KUBECONFIG_DIR/spoke-prod"
